<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">
        <h3>Welcome <%= current_user_role_is? + " " + logged_in_session_owning_user.name.to_s %></h3>
        <div class="row pull-right">
          <div class="add-user-btn">
            <%= link_to 'Call logs', call_log_path, :class => 'btn btn-info' %>
            <%= link_to 'Logout', login_logout_path, :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <h4>Import customer CSV file</h4>
      <div class="add-user-btn">
        <%= form_tag({:action => :import}, multipart: true) do %>
          <span  class="btn btn-info"  >Choose File: <%= file_field_tag :file%></span>
          <%= submit_tag("Import",  class: "btn btn-info btn-file" )  %>
        <% end %>
      </div>
    </div>
  </div>

</div>


<div class="card">
  <h4>Assign Agents to Customers</h4>
  <div class="row pull-right">
    <div class="add-user-btn">
      <%= button_to @message, supervisor_assign_path , method: :post , :class => 'btn btn-info' %>
    </div>
  </div>
</div>
