<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-title">

        <h4>User list </h4>
        <div class="row pull-right">
          <div class="add-user-btn">
            <%#= link_to 'Extended contacts', contacts_extended_path, :class => 'btn btn-info' %>
            <%= link_to 'Add new user', new_user_path, :class => 'btn btn-info' %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="text-center">
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Role</th>
              <th></th>
            </tr>
            </thead>
            <tbody>

            <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><span><%= user.email %></span></td>
                <td><span><%= user.mobile %></span></td>
                <td><span><%= Role.find(user.role_id).title %></span></td>
                <td>
                  <a href="#" onclick="callbutton('<%= user.mobile.to_s %>')" class="btn btn-info">Call</a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>